body{
    margin: 0px;
    background-color: rgb(0, 0, 225, 1);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(bglogo1.web);
}
.interface1{
    width: 300px;
    height: 400px;
    background-color: gold;
    margin: 150px 0px 0px 530px;
    box-shadow: 5px 5px 5px  rgb(0, 0, 0, .5);
    border-radius: 25px;
}
.user1{
    margin: 0px 0px 0px 50px;
    width: 200px;
    height: 25px;
}
#user2{
    margin: 160px 0px 0px 50px;
}
#newacc{
margin-left: 160px;
color: blue;
}


    
    
    
